@model TodoApp.Models.DeleteModel

@{ ViewBag.Title = "Delete Task"; }

<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-8 col-md-7 col-sm-6">
			<h1>@ViewBag.Title</h1>
			<p class="lead">The hitchhiker's guide to azure</p>
		</div>
	</div>
</div>


<form asp-controller="Tasks" asp-action="Delete" method="post" class="form-horizontal" role="form">
	<div class="modal" style="position: relative; top: auto; right: auto; left: auto; bottom: auto; z-index: 1; display: block;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Item deletion</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you wish to delete the task <strong>@Model.Description</strong>?</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger">Delete</button>
					<a asp-controller="Tasks" asp-action="Index" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>
		</div>
	</div>
	<input asp-for="Id" value="@Model.Id" type="hidden" />
</form>
